<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
</head>
<body>
    <h2>Change Password</h2>
    <form th:action="@{/userInfo/change-password}" th:object="${passwordChangeDTO}" method="post">
        <div>
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" th:field="*{oldPassword}" required/>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" required/>
        </div>
        <button type="submit">Change Password</button>
    </form>
</body>
</html>
