<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGaZpp1AMJc5jLGa/tQODpZEM5" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
        .container {
            margin-top: 50px;
        }
        .card {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn-secondary {
            background-color: #6c757d;
            border-color: #6c757d;
        }
    </style>
</head>
<body>
<div th:replace="~{head}"></div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card">
                <h2 class="text-center">Edit Student</h2>
                <div class="card-body">
                    <form th:action="@{/students/{id}(id=${student.id})}" th:object="${student}" method="post" enctype="multipart/form-data">
                        <input type="hidden" class="form-control" id="hidden" th:field="*{imageUrl}">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Enter first name">
                            <div th:if="${#fields.hasErrors('firstName')}" class="text-danger" th:errors="*{firstName}">First Name Error</div>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Enter last name">
                            <div th:if="${#fields.hasErrors('lastName')}" class="text-danger" th:errors="*{lastName}">Last Name Error</div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter email" readonly>
                            <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">Email Error</div>
                        </div>
                        <div class="form-group">
                            <label for="imageFile">Image</label>
                            <input type="file" id="imageFile" name="imageFile">
                            <div th:if="${student.imageUrl}">
                                <img th:src="@{${student.imageUrl}}" alt="Student Image" style="width: 100px; height: 100px;">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                        <a th:href="@{/students}" class="btn btn-secondary btn-block mt-2">Back to Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
